/**

// Twitter Bootstrap
*= require "vendor/bootstrap.min.css"

// Pygments highlighing theme
*= require "vendor/autumn.css"

*/

h1, h2 {
  font-family: "Rufina", serif; // something different.
}

h2 {
  font-size: 24px; // smaller font for subheadings.
  margin-top: 48px; // space above subheadings.
}

header h1 {
  font-size: 48px;
  margin: 32px 0; // extra space around main heading.
}

li {
  line-height: 24px; // more spacing for list items.
}

body {
  font-size: 18px; // larger!
  line-height: 24px; // less dense text.
}

p {
  margin: 0 0 16px; // more space between paragraphs.
}

pre {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

article {

  margin-bottom: 100px; // space between articles.

  h1 {
    border-bottom: 1px dotted; // underline beneath main headings.
    margin-bottom: 32px;
  }

}

.top-link {
  color: #bbb;
  margin-top: 35px;
}

.example {

  margin-bottom: 100px; // space between examples.

  .http .label {
    background-color: lighten(rgb(153, 153, 153), 20%); // lighten Bootstrap's default
  }

  .toc {
    margin-top: 40px; // space around table of contents.
    margin-bottom: 40px;
  }

}

.navbar {
  $navbar-height: 54px;
  $navbar-top-color: #229ce2;
  $navbar-bottom-color: #0f7ad5;

  border-bottom: 1px dashed $navbar-bottom-color; // Podling-style

  .navbar-inner {
    // Nice Podling colorscheme
    background-image: -webkit-linear-gradient(
      top, $navbar-top-color, $navbar-bottom-color
    );
    border: none; // Override Bootstrap
    border-radius: 0px; // Override Bootstrap
    height: $navbar-height;
  }

  // Bootstrap's navbar container has auto width
  .container {
    width: 940px; // Override Bootstrap
  }

  // All text in the navbar; be specific to override Bootstrap
  .nav > li > a, .brand {
    color: #fff;
    font-size: 14px;
    text-shadow: none; // Override Bootstrap
    line-height: 34px;
  }
  .nav > li > a:hover {
    color: #ddd;
  }

  // Active nav link, and its hover
  .nav > .active > a, .nav > li.active > a:hover {
    color: $navbar-bottom-color;
  }

  .divider-vertical {
    border-left-color: darken($navbar-top-color, 10%);
    border-right-color: lighten($navbar-top-color, 10%);
    height: $navbar-height;
    margin: 0;
  }
}

article {
  .nav {
    margin: 0;
  }
  .nav-tabs {
    border-bottom: none; // Override Bootstrap
  }
}
