%article#clients

  %h1 Clients

  %p
    While the HTTP API is simple enough to use directly in many cases,
    there are open source client libraries available for Ruby and PHP.

  %p
    Let us know if you've written one for your language or platform of
    choice, and we'll add it to the list.

  %ul
    %li
      = link_to "the86-client", "https://github.com/sitepoint/the86-client"
      for Ruby.

    %li
      = link_to "the86-php", "https://github.com/sitepoint/the86-php"
      for PHP 5.4+.
