-# local 'node'
-#- if node.kind_of?(Array)
-#  - node.each do |v|
-#    =partial("dfs_dl", locals: { node: v })
- if node.kind_of?(Hash)
  %dl
    - node.each do |k, v|
      %dt
        =k.to_s
      %dd
        =partial("dfs_dl", locals: { node: v })
- else
  =node.to_s
