-# local 'node'
- if node.kind_of?(Array)
  - node.each do |v|
    %dd
      =partial("dfs_dl", locals: { node: v })
- elsif node.kind_of?(Hash)
  %dl
    - node.each do |k, v|
      %dt
        =k.to_s
      %dd
        - if k == "body"
          =partial("json_pretty_print", locals: { json_string: v } )
        - else
          =partial("dfs_dl", locals: { node: v })
- else
  =h node.to_s
