
%h2=title
%p=subtitle
%dl
  %dt Endpoint
  %dd=action
  %dt Parameters
  - if parameters.kind_of?(Array)
    -parameters.each do |p|
      %dd
        =partial("parameter", locals: { parameter: p })
  - else
    %dd
      =parameters.to_s
  %dt Examples
  %dd
    %dl=partial("examples", locals: { examples: examples } )
  %dt Response
  %dd 
    - if response && !response.empty?
      =partial("response", locals: { response: response } )
    - else
      None
