
-# Required locals: title, action, parameters, response
-# Optional: subtitle
%h2=title
%p=subtitle
%dl
  %dt Endpoint
  %dd=action
  %dt Parameters
  - if parameters.kind_of?(Array)
    -parameters.each do |p|
      %dd
        =partial("parameter", locals: { parameter: p })
  - else
    %dd
      =parameters.to_s
  - if example
    %dt Example using CURL
    %dd 
      -code("bash") do
        =example
  %dt Response
  %dd 
    - if response && !response.empty?
      - if response.kind_of?(String)
        =partial("json_pretty_print", locals: { json_string: response } )
      - else
        =partial("dfs_dl", locals: { node: response } )
    - else
      None
