
-# Required locals: title, action, parameters, response
-# Optional: subtitle
%h2=title
%p=subtitle
%dl
  %dt Endpoint
  %dd=action
  %dt Parameters
  %dd
    =partial("dfs_dl", locals: { node: parameters })
  - if example
    %dt Example using CURL
    %dd 
      =h example
  - if response && !response.empty?
    %dt Response
    %dd 
      %pre
        :preserve
          #{escape_once(JSON.pretty_generate(JSON.parse(response)))}
