<article id="errors">

  <h1>Errors</h1>

  <p>
    Error responses are represented by a suitable HTTP code
    (e.g. <code>404 Not Found</code> or <code>422 Unprocessable Entity</code>)
    and a JSON response body containing a message attribute.
  </p>

  <p>
    Some types of error will extend this response body with additional
    attributes.
  </p>

  <h2>Validation Errors</h2>

  <p>
    A validation error encountered while creating a resource is represented by a
    <code>422 Unprocessable Entity</code> response.
  </p>

  <p>
    For each validation error that occured, the errors array in the response
    JSON container a resource name, field name and message.
  </p>

  <% code(:http) do %>
POST /api/v1/users/123 HTTP/1.1
X-Http-Method-Override: PATCH
Accept: application/json
User-Agent: HTTPie/0.2.7dev
Host: podling.com
Content-Type: application/json; charset=utf-8
Authorization: Bearer j-9afg1CdAsampletokenMxw7zZ9ppS-HWd1oTXL152

{
    "name": ""
}
  <% end %>

  <% code(:http) do %>
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/json; charset=utf-8
Cache-Control: no-cache
Date: Tue, 26 Feb 2013 00:27:59 GMT
Content-Length: 105

{
    "errors": [
        {
            "field": "name",
            "message": "can't be blank",
            "resource": "User"
        }
    ],
    "message": "Validation failed."
}
  <% end %>

</article>
