%article#errors

  %h1 Errors

  %p
    Error responses are represented by a suitable HTTP code
    (e.g. <code>404 Not Found</code> or <code>422 Unprocessable Entity</code>)
    and a JSON response body containing a message attribute.

  %p
    Some types of error will extend this response body with additional
    attributes.

  %h2 Validation Errors

  %p
    A validation error encountered while creating a resource is represented by a
    <code>422 Unprocessable Entity</code> response.

  %p
    For each validation error that occured, the errors array in the response
    JSON container a resource name, field name and message.

  - code(:http) do
    :plain
      POST /api/v1/users/123 HTTP/1.1
      X-Http-Method-Override: PATCH
      Host: podling.com
      Accept: application/json
      Content-Type: application/json; charset=utf-8
      User-Agent: HTTPie/0.2.7dev
      Authorization: Bearer q-IdfBsampletokenziKTMxQ7zZ1zzt-JWd2oAXLp13

      {
          "name": ""
      }

  - code(:http) do
    :plain
      HTTP/1.1 422 Unprocessable Entity
      Content-Type: application/json; charset=utf-8
      Cache-Control: no-cache
      Date: Tue, 26 Feb 2013 00:40:10 GMT
      Content-Length: 105

      {
          "errors": [
              {
                  "field": "name",
                  "message": "can't be blank",
                  "resource": "User"
              }
          ],
          "message": "Validation failed."
      }
