-# local 'response'
%dl
  %dt Status
  %dd
    =h response["status"].to_s
    =data.http_status_codes.definitions[response["status"]]
  - if response.has_key?("body")
    %dt Body
    %dd=partial("json_pretty_print", locals: { json_string: response["body"] } )
