- alias :o :optional_parameter
-# require 'net/http'

%h1 Users resource

-#  response: Net::HTTP.post_form(URI("http://learnable.vm:3000/api/v1/users"), "name" => "matt").body )

- data.resources.users.endpoints.each do |ep|
  =endpoint(ep)

