
%h1 Users resource

=endpoint(title: "Creating a User",
  action: "POST /users",
  parameters: { "name : String" => "Must be longer than 4 chars" },
  response: '{"id":10,"name":"\"Matt\"","email":null,"avatar_url":null,"twitter_username":null,"profile":null,"location":null,"created_at":"2013-02-21T03:30:03Z","url":"http://learnable.vm:3000/api/v1/users/10","access_tokens":[{"created_at":"2013-02-21T03:30:03Z","id":8,"token":"YOG_81weQhXg4hyhMf8Z2TdZ28dpHU4BCR7Ux9l3Ql4","updated_at":"2013-02-21T03:30:03Z","user_id":10}]}' )

=endpoint(title: "Retrieving a user",
  action: "GET /users/:user_id",
  parameters: "None",
  response: {"id"=>10,"name"=>"\"Matt\"","email"=>nil,"avatar_url"=>nil,"twitter_username"=>nil,"profile"=>nil,"location"=>nil,"created_at"=>"2013-02-21T03:30:03Z","url"=>"http://learnable.vm:3000/api/v1/users/10"} )

=endpoint(title: "Logging in as a user",
  subtitle: "Used to retreive a token",
  action: "GET /users/:user_id",
  parameters: "None",
  response: "" )
