- alias :o :optional_parameter
-# require 'net/http'

%h1 Users resource

=endpoint(title: "Creating a User",
  action: "POST /users",
  parameters: { "name : String" => "Must be longer than 4 chars" },
  response: %q{{"id":10,"name":"\"Matt\"","email":null,"avatar_url":null,"twitter_username":null,"profile":null,"location":null,"created_at":"2013-02-21T03:30:03Z","url":"http://learnable.vm:3000/api/v1/users/10","access_tokens":[{"created_at":"2013-02-21T03:30:03Z","id":8,"token":"YOG_81weQhXg4hyhMf8Z2TdZ28dpHU4BCR7Ux9l3Ql4","updated_at":"2013-02-21T03:30:03Z","user_id":10}]}} )
-#  response: Net::HTTP.post_form(URI("http://learnable.vm:3000/api/v1/users"), "name" => "matt").body )

- data.resources.users.endpoints.each do |ep|
  =endpoint(ep)

